apiVersion: k0sctl.k0sproject.io/v1beta1
kind: Cluster
metadata:
  name: k0s-cluster
spec:
  hosts:
%{ for node_host, node_hostname in node_map_masters ~}
  - role: controller
    ssh:
      address: ${node_host}
      user: ${user}
      keyPath: ${ssh_key}
%{endfor}
%{ for node_host, node_hostname in node_map_workers ~}
  - role: worker
    ssh:
      address: ${node_host}
      user: ${user}
      keyPath: ${ssh_key}
%{endfor}
  k0s:
    version: ${k0s_version}
    dynamicConfig: false
    config:
      apiVersion: k0s.k0sproject.io/v1beta1
      kind: Cluster
      metadata:
        name: k0s
      spec:
        api:
          port: 6443
          externalAddress: ${ha_proxy_server}
          sans:
          - ${ha_proxy_server}
        network:
          provider: calico
        telemetry:
          enabled: false